{% extends "base.html" %}
{% load static %}
{% block content %}
{% if messages %}
    {% for i in messages %}
    <div class="alert alert-primary" role="alert">
    {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    {% endif %}
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
</head>

<body>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">GatesHead food bank</h1>
                <h2 class="masthead-subheading mb-0">we help to reduce poverty</h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#">Learn More</a></div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="https://www.sustainweb.org/resources/images/other_pics/foodpovert_family_uncropped.gif"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">What is food poverty ?</h2>
                        <p><br><em>Food poverty, or household food insecurity, can be triggered by a crisis&nbsp;in finance or personal circumstances, but may also be a long-term&nbsp;&nbsp;experience of not being able to access a healthy diet or afford to eat well.</em><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="https://www.worcesternews.co.uk/resources/images/7102719.jpg?display=1&amp;htype=0&amp;type=responsive-gallery"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">We salute you!</h2>
                        <p><br><em>Over 8 million people in the UK struggle to get enough to eat. Sustain is working with communities, third-sector organisations, local authorities and government, aiming to make sure everyone can eat well.</em><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="https://fastrak.co.uk/wp-content/uploads/Food-Poverty-Highlights-Importance-of-School-Food-Report-Exposes-Food-poverty-in-Surrey.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Let there be rock!</h2>
                        <p><br><em>A social perspective on poverty should contribute to the debate on the effectiveness and limitations of current poverty reduction strategies.</em><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">@food_poverty</p>
        </div>
    </footer>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script id="bs-live-reload" data-sseport="56889" data-lastchange="1588263131639" src="/js/livereload.js"></script>


</body></html>

{%  endblock %}